title {
b;
}
body {
	background-color:#4f4f4f;
	color:black;
	text-align:left;
	font-family:tahoma;
}

header {
	background-image: url("https://learn.logikaschool.com/uploads/student/1040643/65009a93de0d4.png");
	font-family:monospace;

h2 {
	font-size 15;
	font-family:sans-serif;
	color:orange;
	padding:5px;
	text-align:center;
	background-image: url("https://learn.logikaschool.com/uploads/student/1040643/65009a93de0d4.png");
}

main {
	color:black;
	text-align:center;
	border:1px;
}

.mainH2one{
	b;
    color:black;
	background-image: url("https://learn.logikaschool.com/uploads/student/1040643/65009a93de0d4.png");
}

.h3Secret{
    background-image: url("https://learn.logikaschool.com/uploads/student/1040643/65009a93de0d4.png");
	color:gray;
	
}
p {
    text-align:left;
	background-image: url("https://learn.logikaschool.com/uploads/student/1040643/65009a93de0d4.png");
}

footer {
	background-color:grey;
	color:orange;
	text-align:right;
	font-family:monospace;
}		
	
